/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Odor+Mean+Chey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');

/* Changing the main font and background colour */

main {
    background-color: #fff7ed2b;
}

body {
    font-family: Raleway, sans-serif;
    background-color: #FFF7ED;
}

/* Changing the background colour for the header */

header {
    background-color: #000060;
}

/* Changing the background color for the navigation bar */

.navbar {
    color: #006620;
    background-color: #FFF7ED;
    font-family: "Boldonse", system-ui;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Effect on social media buttons */

footer a:hover {
    opacity: .5;
}

/* Corporate navbar */

#navbar-corporate a.active {
    color: #800000;
    font-weight: bold;
}

/* Hero Section shadow */

.white-shadow {
    text-shadow: -.01em -.01em .01em white,
        .02em .02em .02em white,
        0 0 .2em white,
        0 0 .5em white;
}

.text-center {
    background-color: #006620;
}

h1 {
    color: #fff7ED;
    font-family: "Odor Mean Chey";
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h2 {
    color: #006620;
    font-family: "Odor Mean Chey";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}