/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

/* Changing the main font and background colour */

main {
	background-color: #fff7ed2b;
}

body {
	font-family: Raleway, sans-serif;
	background-color: #fffcf8;
}

/* Changing the background colour for the header */

header {
	background-color: #000060;
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #FFF7ED;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

/* Corporate navbar */

#navbar-corporate a.active {
	color: #800000;
	font-weight: bold;
}

/* Hero Section shadow */

.white-shadow {
	text-shadow: -.01em -.01em .01em white,
		.02em .02em .02em white,
		0 0 .2em white,
		0 0 .5em white;
}

.special {
	color: #E50D00;

	position: absolute;
	font-family: "Odor Mean Chey";
	font-size: 190px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 9px;
	z-index: 1000;
	margin-right: 342px;
}

.title2 {
	color: #fff7ed;

	position: absolute;
	font-family: "Odor Mean Chey";
	font-size: 180px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 9px;
	grid-column: 4/7;
	grid-row: 6/8;
}

.title {
	color: #000;

	position: absolute;
	font-family: "Odor Mean Chey";
	font-size: 180px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 9px;
	margin-top: 5px;
	margin-right: 10px;
}



.coming {
	margin-top: 200px;
	margin-left: 500px;
	position: absolute;
	font-family: "Odor Mean Chey";
	font-size: 30px;
	font-style: normal;
	font-weight: 30;
	line-height: normal;
	letter-spacing: 1px;
	margin-top: 200px;
	margin-right: 10px;
}

.logo {
	position: absolute;
	width: 300px;
	margin-bottom: 500px;
}